{% extends 'base.html' %}

{% block title %} Pagina de Login {% endblock %}

{% block main %}

    <a href="{% url 'logout' %}">Sair</a>

    <ul>
        {% for cliente in clientes %}
            <li>
                <a href="{% url 'clienteUpdate' cliente.id %}"> {{ cliente.nome }}</a>
                <a href="{% url 'clienteDelete' cliente.id %}">Apagar</a>
                <a href="{% url 'clienteRead' cliente.id %}">Ver</a>
            </li>
        {% endfor %}

    </ul>
    <a href="{% url 'clienteCreate' %}">Cadastro Cliente</a>

{% endblock %}